body {
    margin: 5;
    padding: 5;
    background-image: url(https://images.unsplash.com/photo-1524055988636-436cfa46e59e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGxhbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-image: url(https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJhbm5lcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
}

li a:link {
    text-decoration: none;
    color:whitesmoke
}

li a:hover {
    background-color:rgba(128, 125, 125, 0.5);
    padding: 5px;
}

li a:visited {
    color: whitesmoke
}

h1 {
    color: white;
    text-align: center;
    background: rgba(5, 89, 144, 0.8);
}

h2 {
    color: white;
    text-align: left;
    padding: 3px;
    background: rgb(5, 89, 144);
}

#ImagenCentrada {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.negrita_cursiva {
    font-style: italic;
    font-weight: bold;
}

.tab {
    margin-left: 47px;
}

.tab2 {
    margin-left: 92px;
}

footer {
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    background:rgba(2, 163, 163,0.8);
}

