/****BODY****/

body {
    background-color: #FFFFFF;
    margin: 0%;
    padding: 0%;
    width: 100%;
}

/****HEADER****/

.descuento p {
    display: flex;
    background-color: #1CD1B0;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    color: #000000;
    font-size: 16px;
    height: 40px;
    padding-left: 30px;
    margin: 0%;
}

h1 {
    display: flex;
    align-items: center;
    padding-left: 30px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    background-color: #00669F;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    height: 80px;
    margin: 0px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    box-shadow: 0px 10px 7px rgb(0, 0, 0, 0.25);
    background-color: #001D2D;
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.nav-bar a:link {
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

.nav-bar a:hover {
    background-color: rgba(212, 200, 200, 0.5);
    padding: 5px;
}

.nav-bar a:visited {
    color: #FFFFFF;
}

/****FORMULARIO***/

form {
    display: flex;
    justify-content: center;
    margin: 100px 0;
    padding: 20px 0;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Karla', sans-serif;
    width: 20vw;
    height: 30vh;
    margin: 0px;
    border: none;
}

legend h2 {
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

label {
    font-size: 16px;
    text-align: left;
}

input {
    width: 87%;
    height: 35px;
    padding: 0 15px;
    font-size: 20px;
    outline: none;
}

input:focus {
    border: 3px solid #1CD1B0;
}

.input-group {
    width: 100%;
    margin: 10px 0;
}

.buttons {
    display: flex;
    background-color: red;
    justify-content: space-around;
    border-style: none;
}

.buttons input {
    border-radius: 15px;
    border-style: none;
    font-size: 20px;    
    width: 15vw;
    height: 50px;
    margin: 10px 0;
    align-items: center;
}

.button1 {
    background-color: #888888;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.button input:hover {
    background-color: #00669F;
    color: #FFFFFF;
}

/*********FOOTER*******/

.footercontact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #00669f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    height: 40px;
    padding: 1em;
    font-size: 20px;
}

.footercontact a:link {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

.footercontact a:visited {
    color: #FFFFFF;
}

.footercontact a:hover {
    background-color: rgba(212, 200, 200, 0.5);
    padding: 5px;
}