/****BODY****/

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
}

/*****HEADER*****/
/**Banner1**/

#descuentos {
    display: flex;
    padding-left: 30px;
    background-color: #D1891C;
    color: #000000;
    font-size: 20px;
}

/****Banner2****/

h1 {
    display: flex;
    align-items: center;
    padding-left: 30px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    background-color: #00669F;
    color: #FFFFFF;
    height: 80px;
    margin: 0px;
}

/*****Menu****/

.menuppal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    box-shadow: 0px 10px 7px rgb(0, 0, 0, 0.25);
    background-color: #001D2D;
}

nav a {
    flex-grow: 0.01;
}

.menuppal a:link {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;   
}

.menuppal a:hover {
    background-color: rgba(212, 200, 200, 0.5);
    padding: 5px;
}

.menuppal a:visited {
    color: #FFFFFF;
}

/*******MAIN********/

.section {
    display: flex;
    justify-content: space-between;
}

/********Article*******/


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 71vh;
    margin: 10px;
    padding: 10px;
    background-color: #F3F3F3;
}

i {
    position: relative;
    color: #CC2424;
    font-size: 30px;
    left: 2px;
    top: 40px;
}

.backgroundcard {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 520px;
    height: auto;
    top: 269px;
}

.picture {
    border-radius: 50%;
    width: 180px;
}

h2 {
    display: flex;
    align-items: center;
    margin: 0px;
    font-size: 30px;
    text-align: center;
}

button {
    position: relative;
    background-color: #00669F;
    border-style: none;
    border-radius: 5px;
    color: #F3F3F3;
    font-size: 23px;
    height: 57px;
    width: 173px;
}

p {
    display: flex;
    font-size: 18px;
    color: #333333;
    margin: 25px;
    padding: 25px;
}

/*******Footer*******/

.footerppal p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #00669f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    height: 40px;
    padding: 1em;
    font-size: 20px;
}
.footerppal a:link {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

.footerppal a:visited {
    color: #FFFFFF;
}

.footerppal a:hover {
    background-color: rgba(212, 200, 200, 0.5);
    padding: 5px;
}
