/****BODY****/

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
}

/*****HEADER*****/
/**Banner1**/

#descuentos {
    display: flex;
    padding-left: 30px;
    background-color: #D1891C;
    color: #000000;
    font-size: 20px;
    width: 100%;
}

/****Banner2****/

h1 {
    display: flex;
    align-items: center;
    padding-left: 30px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    background-color: #00669F;
    color: #FFFFFF;
    width: 100%;
    height: 80px;
    margin: 0px;
}

/*******MAIN********/

.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/********Article*******/

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    width: 50%;
    padding-bottom: 15px;
    background-color: #F3F3F3;
}

i {
    position: relative;
    color: #CC2424;
    font-size: 30px;
    left: 2px;
    top: 40px;
}

.backgroundcard {
    display: flex;
    border-radius: 35px;
    width: 520px;
    height: 360px;
    left: 148px;
    top: 269px;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 50%;
    width: 200px;
}

h2 {
    display: flex;
    align-items: center;
    margin: 0px;
    font-size: 30px;
    text-align: center;
}

button {
    position: relative;
    background-color: #00669F;
    border-style: none;
    border-radius: 5px;
    color: #F3F3F3;
    font-size: 23px;
    height: 57px;
    width: 173px;
}

p {
    display: flex;
    font-size: 26px;
    color: #333333;
    text-align: left;
    margin: 25px;
    padding: 25px;
}

/*******Footer*******/

footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #00669f;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.texto-footer {
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    margin-right: 250px;
    padding-right: 250px;
}
